torch==2.5.1+cu121
torchvision==0.20.1+cu121
opencv-python==4.12.0.88
numpy==2.1.2
matplotlib==3.10.5
pillow==11.0.0
tqdm==4.67.1
pandas==2.3.1
psutil==7.0.0
PyYAML==6.0.2
customtkinter==5.2.2
rich==14.1.0